In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.graph_objs as go
import plotly.offline as py

In [14]:
train = pd.read_csv("C:\\Users\\Shaima\\Downloads\\spooky-author-identification\\train\\train.csv", sep=',', quotechar='"')

In [15]:
train.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [16]:
train.shape

(19579, 3)

In [17]:
train.isnull().sum()

id        0
text      0
author    0
dtype: int64

In [18]:
check_duplicates = train.duplicated().any()
print(check_duplicates)

False

In [19]:
train = train.drop_duplicates() #drop if there is duplicate values

In [20]:
train.describe()

             id                                               text author
count     19579                                              19579  19579
unique    19579                                              19579      3
top     id26305  This process, however, afforded me no means of...    EAP
freq          1                                                  1   7900

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19579 entries, 0 to 19578
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19579 non-null  object
 1   text    19579 non-null  object
 2   author  19579 non-null  object
dtypes: object(3)
memory usage: 459.0+ KB

In [22]:
z = {'EAP': 'Edgar Allen Poe', 'MWS': 'Mary Shelley', 'HPL': 'HP Lovecraft'}
data = [go.Bar(x = train.author.map(z).unique(),
               y = train.author.value_counts().values,
               marker = dict(colorscale='Jet',
                            color = train.author.value_counts().values),
               text = 'Text entries attributed to Author')]

layout = go.Layout(title='Target variable distribution')

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='FrequenciesOfAuthors')

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed